.card {
    width: calc(20% - 10px);
    height: calc(22% - 14px);
    margin: 25px;
    margin-top: 50px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0 0 1px transparent;
    box-shadow: -1px 5px 12px 3px rgba(0,0,0,0.65);
}

.card:hover {
    transform: scale(1.03);
    box-shadow: -1px 7px 17px 3px rgba(0,0,0,0.65);
}


.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front-face, 
.back-face {
    background: black;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
