.score-container{
    position: relative;
    font-family: $font-title;
    

}

.score-panel {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-40%, 40%);
    
}

.score-rings {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -139.3%);
}

.scorepanel-bg {
    width: 350px;
    border-radius:60px;
    box-shadow: -1px 1px 17px 1px rgba(0,0,0,0.65);
}

.moves,
.timer,
.score-title {
    font-size: 1.9em;
    color: black;
    transform: translate(20%, -400%);
    margin-bottom: 50px;
}

.matched{
    margin-left: 50px;
}

.moves {
    margin-left: 80px;
}

.matched {
    font-size: 1.7em;
}





